@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --text-normal-bold: Inter;
  --font-segoe-ui: "Segoe UI";
  --font-roboto: Roboto;
  --font-baloo-bhai: "Baloo Bhai";

  /* font sizes */
  --text-normal-bold-size: 16px;
  --font-size-xs: 12px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-mini: 15px;
  --font-size-sm-5: 13.5px;
  --font-size-xs-2: 11.2px;
  --font-size-3xl-4: 22.4px;
  --font-size-base-5: 16.5px;
  --font-size-3xl: 22px;
  --font-size-4xl-9: 23.9px;
  --font-size-9xl-4: 28.4px;
  --font-size-2xs-5: 10.5px;
  --font-size-mid-9: 17.9px;
  --font-size-3xs-7: 9.7px;
  --font-size-4xs: 9px;

  /* Colors */
  --primary-contrast: #fff;
  --color-darkslategray-100: #424242;
  --color-grey-1: #333;
  --color-darkslategray-200: #303030;
  --color-primary: #092c4c;
  --color-darkslategray-300: rgba(9, 44, 76, 0.9);
  --color-dimgray-100: #616161;
  --color-grey-2: #4f4f4f;
  --color-azure: #e8f9fd;
  --color-secondary: #f2994a;
  --color-black: #000;
  --color-darkslateblue: #0d2855;
  --color-indianred: #eb5757;
  --color-mediumseagreen: #27ae60;
  --color-orange: #f99a0e;
  --color-gray-100: #8e8e94;
  --color-gray-200: rgba(0, 0, 0, 0.87);
  --color-whitesmoke: #eaeaea;
  --color-cornflowerblue-100: #1262af;
  --color-cornflowerblue-200: #1262ae;
  --color-gainsboro-100: #e0e0e0;
  --color-gainsboro-200: rgba(226, 226, 226, 0.1);
  --color-lavender: #ccdcec;
  --color-darkgray: #999;
  --color-silver: #bdbdbd;

  /* Gaps */
  --gap-11xs: 2px;
  --gap-3xl-4: 22.4px;
  --gap-5xs-5: 7.5px;
  --gap-mini: 15px;
  --gap-mid-2: 17.2px;
  --gap-4xs-2: 8.2px;
  --gap-8xs-5: 4.5px;
  --gap-mid-9: 17.9px;
  --gap-10xs-2: 2.2px;
  --gap-7xl-9: 26.9px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-16xl: 35px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-11xl: 30px;
  --padding-mini: 15px;
  --padding-7xs: 6px;
  --padding-base-4: 16.4px;
  --padding-40xl-8: 59.8px;
  --padding-4xs: 9px;
  --padding-xs-2: 11.2px;
  --padding-3xs-7: 9.7px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-9xs-7: 3.7px;
  --padding-10xs: 3px;
  --padding-10xs-2: 2.2px;
  --padding-8xs-5: 4.5px;

  /* border radiuses */
  --br-21xl: 40px;
  --br-5xs: 8px;
  --br-11xl: 30px;
  --br-base: 16px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-4xl-2: 23.2px;
  --br-5xs-5: 7.5px;
  --br-xs: 12px;
  --br-28xl-8: 47.8px;
}
